.header-container {
	width: 100%;
	margin: 0 auto;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: calc(10px + 2vmin);
	padding: 10px 20px;
}
.header-burger{
	width: 40px;
	height: 30px;
	display: none;
	border-radius: 100%;
	padding-bottom: 10px;
	box-shadow: 0px 2px 0px rgba(0, 128, 0, 0.5),
		0px 2px 0px rgba(0, 128, 0, 0.048), 0px 4px 0px rgba(255, 255, 0, 0.5),
		0 4px 0px rgba(255, 255, 0, 0.5), 0px 6px 0px rgba(255, 0, 0, 0.5),
		0 6px 0px rgba(255, 0, 0, 0.5);
}
.burger-line{
	width: 60%;
	height: 3px;
	background: #4A76C6;
	margin: 0 auto;
}
.header-burger:hover{
	cursor: pointer;
	box-shadow: 0px 2px 0px rgba(0, 128, 0, 0.5),
		0px 2px 0px rgba(0, 128, 0, 0.048), 0px 4px 0px rgba(255, 255, 0, 0.5),
		0 4px 0px rgba(255, 255, 0, 0.5), 0px 6px 0px rgba(255, 0, 0, 0.5),
		0 6px 0px rgba(255, 0, 0, 0.5);
}
.header-logo-container{
	display: flex;
	justify-content: space-between;
}
.header-logo-container img {
	width: 80px;
	height: 80px;
	border-radius: 100%;
	box-shadow: 0px 2px 0px rgba(0, 128, 0, 0.5),
		0px 2px 0px rgba(0, 128, 0, 0.048), 0px 4px 0px rgba(255, 255, 0, 0.5),
		0 4px 0px rgba(255, 255, 0, 0.5), 0px 6px 0px rgba(255, 0, 0, 0.5),
		0 6px 0px rgba(255, 0, 0, 0.5);
	
}

.header-logo-container img:hover {
	cursor: pointer;
}
.header-list-container {
	width: 70%;
	display: flex;
	list-style: none;
	justify-content: space-between;
	padding-left: 0;
	padding-right: 20px;
	align-items: center;
}
.header-list {
	display: flex;
	justify-content: center;
	font-weight: 600;
	font-size: 20px;
	color: #000;
	font-style: italic;
	text-decoration: none;
}
.header-list:hover {
	cursor: pointer;
	color: #44cbb1;
    color: #4A76C6;
}

.member-info {
	font-size: 16px;
	font-weight: 900;
	font-style: italic;
	text-align: right;
	padding: 5px;
    color: #4A76C6;

}

.logout-link {
	font-size: 16px;
	height: 80px;
	width: 80px;
	font-weight: 800;
    color: #4A76C6;
	box-shadow: 0px 2px 0px rgba(0, 128, 0, 0.5),
		0px 2px 0px rgba(0, 128, 0, 0.048), 0px 4px 0px rgba(255, 255, 0, 0.5),
		0 4px 0px rgba(255, 255, 0, 0.5), 0px 6px 0px rgba(255, 0, 0, 0.5),
		0 6px 0px rgba(255, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 100%;
	text-decoration: none;
}
.logout-link:hover {
    color: #4A76C6;
}
.header-btn:hover {
	cursor: pointer;
}
.greenLine {
	height: 2px;
	background: rgba(0, 128, 0, 0.5);
}
.yellowLine {
	height: 2px;
	background: rgba(255, 255, 0, 0.5);
}
.redLine {
	height: 2px;
	background: rgba(255, 0, 0, 0.5);
	margin-bottom: 20px;
}
.header-title {
	color: #4A76C6;
	font-style: italic;
	margin: 40px auto;
	font-weight: 900;
	font-size: 40px;
	width: 85%;
	padding: 20px;
	/* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
	0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	0 100px 80px rgba(0, 0, 0, 0.12); */
}

@media only screen and (max-width: 700px) {
	.header-list-container {
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		padding-left: 20px;
		margin-top: 20px;
	}
	.header-burger{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
	}
	.collapsed {
		display: none;
	}
	.header {
		flex-direction: column;
		align-items: center;
	}
	.header-list {
		width: 100%;
		margin-bottom: 15px;
		display: flex;
		justify-content: flex-start;
	}
	.header-list:hover {
		text-decoration: none;
	}
	.logout-link {
		box-shadow: none;
		height: auto;
		width: auto;
		border-radius: 0;
		color: #4A76C6;
	}
	.logout-link:hover {
		box-shadow: none;
		opacity: 0.85;
	}
	.header-logo-container {
		width: 100%;
		text-align: left;
	}
	.header-logo-container img {
		width: 40px;
		height: 40px;
	}
	.header-title {
		font-size: 30px;
	}
}
@media only screen and (max-width: 400px) {
	.header-title {
		font-size: 20px;
		font-weight: 800;
	}
}
