.bigButton {
	background: #44cbb1;
    background: #4A76C6;
	
	padding: 10px;
	border-radius: 10%;
	cursor: pointer;
	font-size: 20px;
	font-weight: 900;
	margin: 10px auto;
	color: #fff;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
}
.bigButton:hover {
	opacity: 0.85;
}
.smallButton {
	opacity: 0.85;
	padding: 5px;
	color: Black;
	border-radius: 10%;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	margin: 10px 5px;
	border: 1px solid #44cbb1;
	border: 1px solid #4A76C6;

	background: none;
}
.smallButton:hover {
	opacity: 1;
	background-color: #44cbb1;
    background: #4A76C6;

	color: white;
}
